:root[data-base="mode-1"] {
  --base-colour-blue-100: hsl(211, 100%, 87%);
  --base-colour-blue-200: hsl(211, 100%, 77%);
  --base-colour-blue-300: hsl(205, 99%, 40%);
  --base-colour-blue-400: hsl(208, 100%, 15%);
  --base-colour-grey-100: hsl(0, 0%, 85%);
  --base-colour-grey-200: hsl(0, 0%, 75%);
  --base-colour-grey-300: hsl(0, 0%, 45%);
  --base-colour-grey-400: hsl(0, 0%, 16%);
  --base-colour-pink-100: hsl(333, 100%, 89%);
  --base-colour-pink-200: hsl(331, 100%, 80%);
  --base-colour-pink-300: hsl(320, 100%, 40%);
  --base-colour-pink-400: hsl(323, 100%, 15%);
  --base-colour-static-black: hsl(0, 0%, 0%);
  --base-colour-static-black-10: hsl(0, 0%, 0% / 0.1);
  --base-colour-static-black-30: hsl(0, 0%, 0% / 0.3);
  --base-colour-static-black-50: hsl(0, 0%, 0% / 0.5);
  --base-colour-static-transparent: hsl(0, 0%, 100% / 0);
  --base-colour-static-white: hsl(0, 0%, 100%);
}
:root[data-brand="mode-1"] {
  --brand-colour-accent-100: var(--base-colour-blue-100);
  --brand-colour-accent-200: var(--base-colour-blue-200);
  --brand-colour-accent-300: var(--base-colour-blue-300);
  --brand-colour-accent-400: var(--base-colour-blue-400);
  --brand-colour-primary-100: var(--base-colour-pink-100);
  --brand-colour-primary-200: var(--base-colour-pink-200);
  --brand-colour-primary-300: var(--base-colour-pink-300);
  --brand-colour-primary-400: var(--base-colour-pink-400);
}
:root[data-global="mode-1"] {
  --global-colour-action-background: var(--brand-colour-primary-300);
  --global-colour-action-icon-on-bg: var(--base-colour-static-white);
  --global-colour-action-text-on-bg: var(--base-colour-static-white);
  --global-colour-icon-on-light: var(--base-colour-grey-400);
  --global-colour-shadow: var(--base-colour-static-black-30);
  --global-colour-text-on-light: var(--base-colour-grey-400);
}
